@page "/termOfUse"
<div class="container">
    <h1 class="text-white fw-bolder">Köpevillkor:</h1>
    <h4 class="text-white mt-5 mb-5">Betalning</h4>
    <div class="d-flex flex-column justify-content-center">
        <p style="color: grey">Kunden kan lägga en beställning på vår webbplats eller genom att besöka vår fysiska butik. </p>
        <p style="color: grey">Vi accepterar betalning via olika betalningsmetoder, inklusive master card and google pay.</p>
    </div>
    <h4 class="text-white mt-5 mb-5">Beställning</h4>
    <div class="text-white d-flex flex-column justify-content-start">
        <p style="color: grey">Efter genomförd beställning erhåller du en orderbekräftelse via email med information gällande din beställning.</p>
        <p style="color: grey">Kontrollera alltid din orderbekräftelse för att se så att uppgifterna stämmer överens med dina kontakt- och leveransuppgifter samt det som du har beställt.</p>
        <p style="color: grey">Kund kan även logga in på hemsidan för att se beställningen.</p>
    </div>
    <h4 class="text-white mt-5 mb-5">Leverans</h4>
    <div class="text-white d-flex flex-column justify-content-start">
        <p style="color: grey">Vi strävar efter att leverera produkterna inom 3-5 arbetsdagar från det att betalningen har godkänts.</p>
        <p style="color: grey">Leveranskostnader kan variera beroende på produkten och leveransadressen.</p>
        <p style="color: grey">Vi ansvarar för produkten tills den har levererats till kunden.</p>
    </div>
    <h4 class="text-white mt-5 mb-5">Ångerrätt och returer</h4>
    <div class="text-white d-flex flex-column justify-content-start">
        <p style="color: grey">Kund har rätt att ångra sitt köp inom 14 dagar från det att produkten har levererats.</p>
        <p style="color: grey">Kund är ansvarig för att returnera produkten i samma skick som den var när den levererades.</p>
        <p style="color: grey">Om producent returneras på grund av fel eller skada på produkten, återbetalar vi kunden alla kostnader, inklusive leveranskostnader.</p>
        <p style="color: grey">Produkter som levereras digitalt såsom nerladdningsbara produkter och andra produkter som förbrukas genom engångsregistrering omfattas inte av ångerrätten
        </p>
    </div>
    <h4 class="text-white mt-5 mb-5">Reklamation</h4>
    <div class="text-white d-flex flex-column justify-content-start">
        <p style="color: grey">Kontakta oss innan du skickar in en produkt för reklamation. I ditt meddelande behöver du beskriva felet på produkten som du reklamerar. Du tilldelas därefter ett reklamationsnummer som du ska märka returen med.</p>
        <p style="color: grey">Du kan kontakta oss via mail: info@spelbutiken.se eller via 
            telefon: 031-123 123 12. Produkter som skickas till oss utan vårt godkännande kommer inte att behandlas</p>
    </div>
    <h4 class="text-white mt-5 mb-5">Force Majeure</h4>
    <div class="text-white d-flex flex-column justify-content-start">
        <p style="color: grey">Butiken är inte ansvarig för förseningar eller misslyckanden i leveranser eller tjänster på grund av omständigheter utanför vår kontroll, såsom naturkatastrofer, strejker, krig eller andra liknande händelsen.</p>
    </div>
    <h4 class="text-white mt-5 mb-5">Tvister</h4>
    <div class="text-white d-flex flex-column justify-content-start">
        <p style="color: grey">Eventuella tvister som uppstår mellan kund och oss kommer att lösas genom förhandlingar i god tro.</p>
        <p style="color: grey">Om tvisten inte kan lösas genom förhandlingar, ska den lösas enligt svensk lag vid domstol.</p>
    </div>
    <hr style="margin-top: 5rem; color: transparent"/>
    
    <h1 class="text-white fw-bolder mt-5 mb-5">Cookies</h1>
    
    <h4 class="text-white mb-5">Vad är cookies?</h4>
    <div class="text-white mb-5">
        <p style="color: grey">Cookies är en typ av datainformation som skickas till din dator när du besöker en webbplats. Vid senare besök så skickas informationen tillbaka till webbplatsen. Cookies tillåter oss att känna igen dig automatiskt när du besöker vår webbplats så att vi kan anpassa din upplevelse och ge dig bättre service.</p>
    </div>
    <h4 class="text-white mb-5">Varför måste jag acceptera cookies?</h4>
    <div>
        <p style="color: grey">Vi använder cookies för att förebygga bedrägerier och för att förbättra webbplatsens funktionalitet. Om din webbläsare är inställd på att vägra cookies så kommer du inte att kunna slutföra ett köp eller dra nytta av vissa funktioner som att lägga till produkter i din kundvagn eller ta emot personliga rekommendationer.</p>
        <p style="color: grey">Vi rekommenderar dig att ställa in din webbläsare på att acceptera cookies.</p>
    </div>
    
    <hr style="margin-top: 5rem; color: transparent"/>
    
    
    <h1 class="text-white fw-bolder mt-5">GDPR</h1>
    <div class="text-white mb-5">
        <p style="color: grey; margin-bottom: 15px" >Vi följer den europeiska dataskyddsförordningen (GDPR) som reglerar hur personuppgifter får samlas in, lagras och användas. Vi respekterar dina rättigheter som användare av vår spelbutik och strävar efter att säkerställa att din personliga information behandlas på ett säkert och ansvarfullt sätt.</p>
        <p style="color: grey">Denna integritetspolicy beskriver hur Game Store hanterar personuppgifter i samband med användning av vår webbsida. Personuppgifter är all information som kan användas för att identifiera en fysiks person, till exempel namn, e-postadress, telefonnummer eller adress.</p>
    </div>
    
    <h4 class="text-white mb-5">Personuppgiftsansvarig</h4>
    <p style="color: grey; margin-bottom: 15px">Game Store är personuppgiftsansvarig för behandlingen av personuppgifter på vår webbsida. Du kan kontakta oss på info@spelbutiken.se om du har frågor om hur vi behandlar personuppgifter.</p>
    
    <div class="text-white mb-5">
        <h4 class="text-white mb-5">Vilka personuppgifter samlar vi in och varför?</h4>
        <p class="text-white mb-5">Vi samlar in följande personuppgifter i samband med användningen av vår webbsida:</p>
        <p style="color: grey; margin-bottom: 15px">Namn, e-postadress, telefonnummer och adress för att skapa och hantera ditt kundkonto och dina beställningar.</p>
        <p style="color: grey; margin-bottom: 15px">Köphistorik och betyg/kommentarer på produkter för att kunna erbjuda personliga rekommendationer och förbättra vårt produkterbjudande.</p>
        <p style="color: grey; margin-bottom: 15px">IP-adress och webbläsarinformation för att förhindra bedrägeri och förbättra användare upplevelse.</p>
        <p style="color: grey; margin-bottom: 15px">Om du väljer att betala via en betaltjänst, kan vi behöva överföra viss information till betaltjänsten för att kunna genomföra betalningen.</p>
    </div>
    
    
    <h4 class="text-white mb-5">Vilka får tillgång till personuppgifterna?</h4>
    <p class="text-white mb-5">Vi delar personuppgifterna med följande partner:</p>
    <p style="color: grey; margin-bottom: 15px">Leverantörer som hjälper oss att tillhandahålla tjänsterna, till exempel hostingtjänster och betaltjänster.</p>
    <p style="color: grey; margin-bottom: 15px">Myndigheter och andra tredje parter om det krävs enligt lag eller för att skydda våra rättigheter eller egendom</p>


    <h4 class="text-white mb-5">Hur länge sparar vi personuppgifterna?</h4>
    <p style="color: grey; margin-bottom: 15px">Vi sparar personuppgifterna så länge som det är nödvändigt för att tillhandahålla tjänsterna och uppfylla våra rättsliga förpliktelser. Vi kan också spara personuppgifterna för att kunna hantera eventuella framtida tvister.</p>

    
    <h4 class="text-white mb-5">Dina rättigheter</h4>
    <p style="color: grey">Du har rätt att få tillgång till dina personuppgifter och begära att de rättas, raderas eller begränsas. Du har också rätt att invända mot behandlingen av dina personuppgifter och få ut dem i ett strukturerat, allmänt använt och maskinläsbart format. Om du vill utöva dina rättigheter kan du kontakta oss på kund@iths.se. Du har och så rätt att lämna in klagomål till.</p>
    <hr style="margin-top: 5rem; color: transparent"/>
    
    
    <h1 class="text-white fw-bolder mb-0" id="contact_us">Find us</h1>
    <hr style="margin-top: 5rem; color: transparent"/>
    <div class="text-white mt-5 d-flex justify-content-evenly">
        <div class="col-4">
            <h4>Kontakt uppgifter:</h4>
            <p class="mt-5">Adress: Kärra Centrum 18A, 422 49 Hisings Kärra</p>
            <p>Telefon: 123-456-789</p>
        </div>
        <div class="col-4">
            <h4>Öppet tider:</h4>
            <p class="mt-5">Måndag - Fredag 10:00 - 18:00</p>
            <p>Lördag & Söndag 11:00 - 17:00</p>
        </div>
    </div>
    <hr style="margin-top: 5rem; color: transparent"/>
    <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4436.763751772015!2d11.984393486134254!3d57.79427956455942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff55b44eb9dbf%3A0x12b839fd2b79a929!2sK%C3%A4rra%20centrum%2018%2C%20425%2034%20Hisings%20K%C3%A4rra!5e0!3m2!1sen!2sse!4v1682341602199!5m2!1sen!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
</div>


@code {
    
}