<div class="container footer-cleaner bg-dark">
	<footer >
		<a href="/" class="nav-link px-3 footer-orange"><h3>Games Corner</h3></a>
		<ul class="nav justify-content-center  pb-2 ">
			<li class="nav-item nav-scale"><a href="termOfUse#termOfUse" class="nav-link px-3 text-secondary">Terms of Use</a></li>
			<li class="nav-item nav-scale"><a href="termOfUse#privacyPolicy" class="nav-link px-3 text-secondary">Privacy policy</a></li>
			<li class="nav-item nav-scale"><a href="termOfUse#contact" class="nav-link px-3 text-secondary">Contact us</a></li>
			<li class="nav-item nav-scale"><a href="termOfUse#FAQs" class="nav-link px-3 text-secondary">FAQs</a></li>
		</ul>
		<p class="text-center text-secondary mb-0 p-2">Copyright © 2023 Games Corner - All rights reserved</p>
	</footer>
</div>


@code {

}
