@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <div class="top-row px-4 auth bg-black">
            <a href="">
                <img src="static/logo.svg" alt="logo" class="logo" style="width: 5rem; padding-top: 1rem" />
            </a>
            <div class="search-bar-1 col-lg-8 col-md-8">
                <SearchBar />
            </div>
            <div class="buttons">
                <UserButton />
                <CartButton />
            </div>


        </div>
        <div class="search-bar-2">
            <SearchBar />
        </div>

	    <article class="content px-4 bg-dark">
		    @Body
	    </article>

	    <div class="container footer-cleaner bg-dark">
		    <footer >
			    <a href="/" class="nav-link px-3 footer-orange"><h3>Games Corner</h3></a>
			    <ul class="nav justify-content-center  pb-2 ">
				    <li class="nav-item nav-scale"><a href="#" class="nav-link px-3 text-secondary">Terms of Use</a></li>
				    <li class="nav-item nav-scale"><a href="#" class="nav-link px-3 text-secondary">Privacy pol</a></li>
				    <li class="nav-item nav-scale"><a href="#" class="nav-link px-3 text-secondary">Contact us</a></li>
				    <li class="nav-item nav-scale"><a href="#" class="nav-link px-3 text-secondary">FAQs</a></li>
			    </ul>
			    <p class="text-center text-secondary mb-0 p-2">Copyright © 2023 Games Corner - All rights reserved</p>
		    </footer>
	    </div>

    </main>
</div>
