@inject NavigationManager NavigationManager;
<div class="">
    <input @bind-value="SearchText"
           type="search"
           @onkeyup="KeyboardHandler"
           class="form-control"
           placeholder="Search here..."
           style="background-color: #ff5400; border-radius: 20px; border-color: #ff5400" />
    <div>
        <button class="btn text-white" @onclick="Search">
            <span class="oi oi-magnifying-glass"></span>
        </button>
    </div>
</div>
@code {

    public string SearchText { get; set; } = string.Empty;
    private void Search()
    {
        if (SearchText.Length == 0)
        {
        NavigationManager.NavigateTo($"/SearchResults");

        }
        else
        {
            NavigationManager.NavigateTo($"/SearchResults/{SearchText}");
        }

    }

    private void KeyboardHandler(KeyboardEventArgs arg)
    {
        if (arg.Key is "Enter")
        {
            Search();
        }
    }

}