<div class="input-group">
    <input @*@bind-value=""*@
           @*@bind-value:event="oninput"*@
           type="search"
           list="products"
           @*@onkeyup=""*@
           class="form-control"
           placeholder="Search here..."
           @*@ref="" *@
           style="background-color: #ff5400; border-radius: 20px; border-color: #ff5400" />
    <div>
        <button class="btn text-white">
            <span class="oi oi-magnifying-glass"></span>
        </button>
    </div>
</div>
@code {
    
}