@inject NavigationManager NavigationManager;
<div class="input-group">
    <input @bind-value="SearchText"
           type="search"
           @onkeyup="KeyboardHandler"
           class="form-control searchBar"
           placeholder="@PlaceHolderText"
           @onmouseover="UpdatePlaceHolder"
           @onfocus="UpdatePlaceHolder"
           @onfocusout="OnFocusOutPlaceHolder"
           style="background-color: #ff5400; border-radius: 20px; border-color: #ff5400" />
    <div>
        <button class="btn text-white" @onclick="Search" style="z-index: 0">
            <span class="oi oi-magnifying-glass"></span>
        </button>
    </div>
</div>
@code {

    public string PlaceHolderText { get; set; } = "Gamers Got To Game!";
    private bool _isHover = false;
    public string SearchText { get; set; } = string.Empty;

    private void UpdatePlaceHolder()
    {
        PlaceHolderText =  "Search here...";
        
    }
    private void OnFocusOutPlaceHolder()
    {
        PlaceHolderText = "Gamers Got To Game!";

    }
    private void Search()
    {
        if (SearchText.Length == 0)
        {
        NavigationManager.NavigateTo($"/SearchResults");

        }
        else
        {
            NavigationManager.NavigateTo($"/SearchResults/{SearchText}");
        }

    }

    private void KeyboardHandler(KeyboardEventArgs arg)
    {
        if (arg.Key is "Enter")
        {
            Search();
        }
    }

}