@using Blazored.LocalStorage
@using GamesCorner.Client.Services.CartService
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject ILocalStorageService LocalStorage
@inject ICartService CartService
@inject NavigationManager Navigation

<div class="dropdown">
    <button @onclick="ToggleUserMenu"
            @onfocusout="HideUserMenu"
            type="button"
            class="btn dropdown-toggle user-button fs-5 p-0" style="color: white">
        <i class="oi oi-person"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-left @UserMenuCssClass" style="@($"display: {(showUserMenu ? "block" : "none")}")">
        <AuthorizeView>
            <Authorized>
                <a href="authentication/profile" class="dropdown-item">Profile</a>
                <hr />
                <button class="btn nav-link" @onclick="BeginLogOut">Log out</button>
            </Authorized>
            <NotAuthorized>
                <a href="authentication/login" class="dropdown-item">Login</a>
                <a href="authentication/register" class="dropdown-item">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>


@code {
    private bool showUserMenu = false;

    private string UserMenuCssClass => showUserMenu ? "show-menu" : null;

    private void ToggleUserMenu()
    {
        showUserMenu = !showUserMenu;
    }

    private async Task HideUserMenu()
    {
        await Task.Delay(200);
        showUserMenu = false;
    }

    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}